<div class="text-content">
    <div class="property">
        {{#if inLatestConsensus }}
            <h5 class="has-tip"
                data-description="Flags that the directory authorities assigned to this relay."
                title="Flags">Flags <!--span class="pure-button" {{action 'toggleExplain' 'flags'}}>more</span>--></h5>
        {{else}}
            <h5 class="has-tip"
                data-description="Flags that the directory authorities assigned to this relay."
                title="Flags">Flags <!--<span>( as of {{fromNow last_seen}} )</span><span class="pure-button" {{action 'toggleExplain' 'flags'}}>more</span>--></h5>
        {{/if}}

        <div class="pure-g-r flags-list">
            {{#unless inLatestConsensus}}
                <div class="pure-u-1">
                    <p class="c-red no-width-limit"><i class="fa-clock-o fa"></i> These flags aren't up to date anymore</p>
                </div>
            {{/unless}}
            {{#each flags}}
                <div class="pure-u-1-3">
                    <p>{{unbound flaggifyLong this }}</p>
                </div>
            {{else}}
                <div class="pure-u-1">
                    <p>none</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>