
<div class="fullwidth searchbar sticky">
    <div class="row">
        <div class="large-2 columns">
            {{#linkTo "index"}}Home{{/linkTo}}
        </div>
        <div class="large-9 columns">
            {{view Ember.TextField valueBinding="value" action="search" id="teh-search" }}
        </div>
        <!-- coming soon (tm) -->
        <div class="small-1 columns">
            <div title="search settings" class="entypo" {{ action toggleAdvancedSearch }}>&#9881;</div>
        </div>
    </div>
</div>

<div class="fullwidth searchbar-advanced">
    <div class="row" >
        <div class="small-12 columns advanced-search advanced-search-disabled" {{bindAttr class="controller.advancedSearch:advanced-search-enabled:advanced-search-disabled"}}>
            <form class="advanced-search-form">
                <div class="row">
                    <div class="large-4 columns">
                        {{#view GLOBE.ToggleEnableView label="Type"
                            enabledBinding="controller.advancedSearchOptions.type.enabled"
                            valueBinding="controller.advancedSearchOptions.type"}}
                            {{view Ember.Select
                                name="type"
                                disabledBinding="view.disabled"
                                valueBinding="controller.advancedSearchOptions.type.value"
                                contentBinding="GLOBE.static.searchParams.type"}}
                        {{/view}}
                    </div>
                    <div class="large-4 columns">
                        {{#view GLOBE.ToggleEnableView label="Running"
                            enabledBinding="controller.advancedSearchOptions.running.enabled"}}
                            {{view Ember.Select
                            name="running"
                            valueBinding="controller.advancedSearchOptions.running.value"
                            disabledBinding="view.disabled"
                            contentBinding="GLOBE.static.searchParams.running"}}
                        {{/view}}
                    </div>
                    <div class="large-4 columns">
                        {{#view GLOBE.ToggleEnableView label="Country"
                            enabledBinding="controller.advancedSearchOptions.country.enabled" }}

                            {{view Ember.Select
                                name="country"
                                disabledBinding="view.disabled"
                                valueBinding="controller.advancedSearchOptions.country.value"
                                optionValuePath="content.key"
                                optionLabelPath="content.value"
                                contentBinding="GLOBE.static.countriesArray"}}

                        {{/view}}
                    </div>
                </div>
                <div class="row">
                <div class="large-4 columns">
                    {{#view GLOBE.ToggleEnableView label="AS"
                        enabledBinding="controller.advancedSearchOptions.as.enabled"}}
                        <input name="as" type="text" {{bindAttr value="controller.advancedSearchOptions.as.value"}} {{bindAttr disabled="view.disabled"}}>
                    {{/view}}
                </div>
                <div class="large-4 columns">
                    {{#view GLOBE.ToggleEnableView label="Flag"
                        enabledBinding="controller.advancedSearchOptions.flag.enabled"}}

                        {{view Ember.Select
                            name="flag"
                            disabledBinding="view.disabled"
                            valueBinding="controller.advancedSearchOptions.flag.value"
                            optionValuePath="content.key"
                            optionLabelPath="content.key"
                            contentBinding="GLOBE.static.iconsArray"}}

                    {{/view}}
                </div>
                <div class="large-4 columns text-right">
                    <button {{action search}}>Search</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
