<div class="center-wrapper">
    <div class="searchbar sticky">
        <div class="pure-g">
            <div class="pure-u-5-6">
                <div class="main-search-wrapper">
                    {{view GLOBE.TextField valueBinding="value" placeholder="keyword" action="search" id="main-search" tabindex="1" classBinding="value.length:hover"}}
                </div>
            </div>
            <div {{bindAttr class=":pure-u-1-12 :search-control searchRecommended:hover"}}>
                <div title="start searching" class="fa fa-search" tabindex="2" {{action "search"}}></div>
            </div>
            <div class="pure-u-1-12 search-control">
                <div title="advanced search" class="fa fa-gear toggle-advanced-search" tabindex="3" {{ action toggleAdvancedSearch }}></div>
            </div>
        </div>
    </div>
</div>

<div class="advanced-search-back">
    <div class="center-wrapper">
        <form {{bindAttr class=":advanced-search-form :search-filters advancedSearch:search-filters-enabled"}}>
            <div class="searchbar-advanced pure-g-r">
                <div class="pure-u-1-6 label">
                    Filters:
                </div>
                <div class="pure-u-1-6">
                    {{view Ember.Select
                        name="type"
                        classBinding="advancedSearchOptions.type:has-value"
                        prompt="Type"
                        valueBinding="advancedSearchOptions.type"
                        contentBinding="GLOBE.static.searchParams.type"}}
                </div>
                <div class="pure-u-1-6">
                    {{view Ember.Select
                        name="running"
                        classBinding="advancedSearchOptions.running:has-value"
                        prompt="Running"
                        valueBinding="advancedSearchOptions.running"
                        contentBinding="GLOBE.static.searchParams.running"}}
                </div>
                <div class="pure-u-1-6">
                    {{view Ember.Select
                        name="country"
                        classBinding="advancedSearchOptions.country:has-value"
                        prompt="Country"
                        valueBinding="advancedSearchOptions.country"
                        optionValuePath="content.key"
                        optionLabelPath="content.value"
                        contentBinding="GLOBE.static.countriesArray"}}
                </div>
                <div class="pure-u-1-6">
                    {{input
                        name="as"
                        type="text"
                        placeholder="AS"
                        classBinding="advancedSearchOptions.as:has-value"
                        valueBinding="advancedSearchOptions.as"
                    }}
                </div>
                <div class="pure-u-1-6">
                    {{view Ember.Select
                        name="flag"
                        classBinding="advancedSearchOptions.flag:has-value"
                        prompt="Flag"
                        valueBinding="advancedSearchOptions.flag"
                        optionValuePath="content.key"
                        optionLabelPath="content.key"
                        contentBinding="GLOBE.static.iconsArray"}}
                </div>
            </div>
        </form>
    </div>
</div>
