{{#if controller.showContent }}

    <div class="row relay-meta-status">
        <div class="large-6 columns">
            {{#if running }}
                <strong>Uptime</strong>
                <p class="uptime-string">{{ uptimeFull last_restarted }}</p>
            {{else}}
                <strong>Downtime</strong>
                <p class="uptime-string">{{ uptimeFull last_seen }}</p>
            {{/if}}
        </div>
        <div class="large-6 columns">
            <strong>Running</strong>
            <p>{{ truefalse running }}</p>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">

            <ul class="relay-meta">
                <li class="relay-meta-headline">Configuration</li>
                <li>
                    <strong>Nickname</strong>
                    <p>{{ nickname }}</p>
                </li>
                <li>
                    <strong>OR Addresses</strong>
                    <ul class="relay-meta-item-list">
                        {{#each or_addresses}}
                            <li>{{ this }}</li>
                        {{else}}
                            <li>none</li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <strong>Advertised Bandwidth</strong>
                    <p>{{ bandwidth advertised_bandwidth }}</p>
                </li>
            </ul>

        </div>
        <div class="large-6 columns">

            <ul class="relay-meta">
                <li class="relay-meta-headline">Properties</li>
                <li>
                    <strong>Hashed Fingerprint</strong>
                    <p class="fingerprint">{{ hashed_fingerprint }}</p>
                </li>
                <li>
                    {{#if inLatestConsensus }}
                        <strong>Flags</strong>
                    {{else}}
                        <strong class="no-width">Flags <span class="color-black undo-strong">( as of {{fromNow last_seen}} )</span></strong>
                    {{/if}}
                    <ul class="relay-meta-item-list">
                        {{#unless inLatestConsensus}}
                            <li class="color-red"><i class="entypo">&#8505;</i> These flags aren't up to date anymore</li>
                        {{/unless}}
                        {{#each flags}}
                            <li>{{unbound flaggifyLong this }}</li>
                        {{else}}
                            <li>none</li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <strong>Last Restarted</strong>
                    <p>{{ last_restarted }}</p>
                </li>
                <li>
                    <strong>Platform</strong>
                    <p>{{ platform }}</p>
                </li>
                <li>
                    <strong>Pool Assignment</strong>
                    <p>{{ pool_assignment }}</p>
                </li>

            </ul>

        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">

            <div class="row">
                <div class="large-12 columns relay-bw">
                    {{ view GLOBE.RelayBandwidthView dataBinding="controller.bandwidthData" timePeriodsBinding="controller.bandwidthPeriods" }}
                </div>
            </div>

        </div>
    </div>

{{ else }}
    <div class="row">
        <div class="small-12 columns">
            {{#view GLOBE.LoadingIndicatorView message="Loading bridge details..."}}No detail found :({{/view}}
        </div>
    </div>
{{/if}}