{{#if controller.showContent }}

    <div class="row relay-meta-status">
        <div class="large-6 columns">
            <strong>Uptime</strong>
            <p class="uptime-string">{{ uptimeFull last_restarted }}</p>
        </div>
        <div class="large-6 columns">
            <strong>Running</strong>
            <p>{{ truefalse running }}</p>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">

            <ul class="relay-meta">
                <li class="relay-meta-headline">Configuration</li>
                <li>
                    <strong>Nickname</strong>
                    <p>{{ nickname }}</p>
                </li>
                <li>
                    <strong>OR Addresses</strong>
                    <ul class="relay-meta-item-list">
                        {{#each or_addresses}}
                            <li>{{ this }}</li>
                        {{else}}
                            <li>none</li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <strong>Contact</strong>
                    <p>{{ contact }}</p>
                </li>
                <li>
                    <strong>Dir Address</strong>
                    <p>{{ dir_address }}</p>
                </li>
                <li>
                    <strong>Advertised Bandwidth</strong>
                    <p>{{ bandwidth advertised_bandwidth }}</p>
                </li>
                <li>
                    <strong>Exit Policy Summary</strong>
                    {{#if exit_policy_summary.accept}}
                    <ul class="relay-meta-item-list">
                        <li class="relay-meta-item-list-title accept">
                            <strong>accept</strong>
                        </li>
                    </ul>
                    <ul class="relay-meta-item-list">
                        {{#each exit_policy_summary.accept}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{#if exit_policy_summary.reject}}
                    <ul class="relay-meta-item-list">
                        <li class="relay-meta-item-list-title reject">
                            <strong>reject</strong>
                        </li>
                    </ul>
                    <ul class="relay-meta-item-list">
                        {{#each exit_policy_summary.reject}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                <li>
                    <strong>Exit Policy</strong>
                    <ul class="relay-meta-item-list">
                        {{#each exit_policy}}
                            <li>{{this}}</li>
                        {{else}}
                            <li>none</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>

        </div>
        <div class="large-6 columns">

            <ul class="relay-meta">
                <li class="relay-meta-headline">Properties</li>
                <li>
                    <strong>Fingerprint</strong>
                    <p class="fingerprint">{{ fingerprint }}</p>
                </li>
                <li>
                    {{#if inLatestConsensus }}
                        <strong>Flags</strong>
                    {{else}}
                        <strong class="no-width">Flags <span class="color-black undo-strong">( as of {{fromNow last_seen}} )</span></strong>
                    {{/if}}
                    <ul class="relay-meta-item-list">
                        {{#unless inLatestConsensus}}
                            <li class="color-red"><i class="entypo">&#8505;</i> These flags aren't up to date anymore</li>
                        {{/unless}}
                        {{#each flags}}
                            <li>{{unbound flaggifyLong this }}</li>
                        {{else}}
                            <li>none</li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <strong>Country</strong>
                    <p>{{ fullCountry country }}</p>
                </li>
                <li>
                    <strong>AS Number</strong>
                    <p>{{ as_number }}</p>
                </li>
                <li>
                    <strong>AS Name</strong>
                    <p>{{ as_name }}</p>
                </li>
                <li>
                    <strong>Last Restarted</strong>
                    <p>{{ last_restarted }}</p>
                </li>
                <li>
                    <strong>Family Members</strong>
                    <ul class="relay-meta-item-list">
                        {{#each family}}
                            <li>{{ this }}</li>
                        {{else}}
                            <li>none</li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <strong>Platform</strong>
                    <p>{{ platform }}</p>
                </li>

            </ul>

        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">

            <div class="row">
                <div class="large-6 columns relay-bw">
                    {{ view GLOBE.RelayBandwidthView dataBinding="controller.bandwidthData" timePeriodsBinding="controller.bandwidthPeriods" }}
                </div>
                <div class="large-6 columns relay-we">
                    {{ view GLOBE.RelayWeightView dataBinding="controller.weightData"  timePeriodsBinding="controller.weightPeriods"}}
                </div>
            </div>

        </div>
    </div>

{{ else }}
    <div class="row">
        <div class="small-12 columns">
            {{#view GLOBE.LoadingIndicatorView message="Loading relay details..."}}No detail found :({{/view}}
        </div>
    </div>
{{/if}}