<div class="pure-g">
    <div class="pure-u-1">
        <div class="text-content">
            <h3>
                {{#if query}}Search results for "{{query}}":{{else}}Showing all results:{{/if}}
                <div
                    {{ bind-attr class=":tabbed-item relaysActive:tabbed-active" }}
                    {{ action activateSummaries 'relays'}}>
                    <div {{ bind-attr class=":indicator relays.length:indicator-important" }}>{{ controller.relays.length }}</div>
                    <span>Relays</span>
                </div>
                <div
                    {{ bind-attr class=":tabbed-item bridgesActive:tabbed-active" }}
                    {{ action activateSummaries 'bridges'}}>
                    <div {{ bind-attr class=":indicator bridges.length:indicator-important" }}>{{ controller.bridges.length }}</div>
                    <span>Bridges</span>
                </div>
            </h3>

            {{#view GLOBE.SummaryHolderView isVisibleBinding="bridgesActive"}}
                {{view GLOBE.BridgeSummariesView dataBinding="bridges.content"}}
            {{/view}}
            {{#view GLOBE.SummaryHolderView isVisibleBinding="relaysActive"}}
                {{view GLOBE.RelaySummariesView dataBinding="relays.content"}}
            {{/view}}
        </div>
    </div>
</div>