<div class="pure-g-r">
    <div class="pure-u-1-3">
        <h3>Weights</h3>
        <p>mean advertised bandwidth fraction</p>
        <strong>
            <span class="d3-col block-0"></span>
            {{percent advertisedBandwidthAvg 4}}
        </strong>
        <p>mean consensus weight fraction</p>
        <strong>
            <span class="d3-col block-1"></span>
            {{percent consensusWeightFractionAvg 4}}
        </strong>
        <p>mean guard probability fraction</p>
        <strong>
            <span class="d3-col block-2"></span>
            {{percent guardProbabilityAvg 4}}
        </strong>
        <p>mean exit probability fraction</p>
        <strong>
            <span class="d3-col block-3"></span>
            {{percent exitProbabilityAvg 4}}
        </strong>
    </div>
    <div class="pure-u-2-3">
        {{ view GLOBE.RelayWeightView
            dateWindow=dateWindow
            period=period
            data=data
            timePeriods=timePeriods }}
    </div>
</div>