
<div class="fullwidth searchbar sticky">
    <div class="row">
        <div class="large-2 columns">
            {{#linkTo "index"}}Home{{/linkTo}}
        </div>
        <div class="large-9 columns">
            {{view Ember.TextField valueBinding="value" action="search" id="teh-search" }}
        </div>
        <!-- coming soon (tm) -->
        <div class="small-1 columns">
            <div title="search settings" class="entypo" {{ action toggleAdvancedSearch }}>&#9881;</div>
        </div>
    </div>
</div>

{{# if controller.advancedSearch }}

    <div class="row">
        <div class="small-12 columns advanced-search">
            <div class="row">
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="Type"}}
                        {{view Ember.Select
                            disabledBinding="view.disabled"
                            contentBinding="App.static.searchParams.type"}}
                    {{/view}}
                </div>
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="Running"}}
                        {{view Ember.Select
                        disabledBinding="view.disabled"
                        contentBinding="App.static.searchParams.running"}}
                    {{/view}}
                </div>
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="Country"}}
                        <select {{bindAttr disabled="view.disabled"}}>
                            {{#each App.static.countriesArray}}
                                <option {{bindAttr value="this.key"}}>
                                    {{unbound this.value}}
                                </option>
                            {{/each}}
                        </select>
                    {{/view}}
                </div>
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="AS"}}
                        <input type="text" value="" {{bindAttr disabled="view.disabled"}}>
                    {{/view}}
                </div>
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="Flag"}}
                        <select {{bindAttr disabled="view.disabled"}}>
                            {{#each App.static.iconsArray}}
                                <option>
                                    {{unbound this.key }}
                                </option>
                            {{/each}}
                        </select>
                    {{/view}}
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <button {{action search}}>Search</button>
                </div>
            </div>
        </div>
    </div>

{{/if}}