
<div class="fullwidth searchbar sticky">
    <div class="row">
        <div class="large-2 columns">
            {{#linkTo "index"}}Home{{/linkTo}}
        </div>
        <div class="large-9 columns">
            {{view Ember.TextField valueBinding="value" action="search" id="teh-search" }}
        </div>
        <!-- coming soon (tm) -->
        <div class="small-1 columns">
            <div title="search settings" class="entypo" {{ action toggleAdvancedSearch }}>&#9881;</div>
        </div>
    </div>
</div>

<div class="fullwidth searchbar-advanced">
    <div class="row" >
        <div class="small-12 columns advanced-search advanced-search-disabled" {{bindAttr class="controller.advancedSearch:advanced-search-enabled:advanced-search-disabled"}}>
            <form class="advanced-search-form">
                <div class="row">
                    <div class="large-4 columns">
                        {{#view App.ToggleEnableView label="Type"
                        valueBinding="controller.advancedSearchOptions.type"}}
                            {{view Ember.Select
                                propmt=""
                                name="type"
                                disabledBinding="view.disabled"
                                valueBinding="controller.advancedSearchOptions.type"
                                contentBinding="App.static.searchParams.type"}}
                        {{/view}}
                    </div>
                    <div class="large-4 columns">
                        {{#view App.ToggleEnableView label="Running"}}
                            {{view Ember.Select
                            name="running"
                            valueBinding="controller.advancedSearchOptions.running"
                            disabledBinding="view.disabled"
                            contentBinding="App.static.searchParams.running"}}
                        {{/view}}
                    </div>
                    <div class="large-4 columns">
                        {{#view App.ToggleEnableView label="Country"}}
                            <select name="country"
                                {{bindAttr disabled="view.disabled"}}
                                {{bindAttr value="controller.advancedSearchOptions.country"}}>
                                {{#each App.static.countriesArray}}
                                    <option {{bindAttr value="this.key"}}>
                                        {{unbound this.value}}
                                    </option>
                                {{/each}}
                            </select>
                        {{/view}}
                    </div>
                </div>
                <div class="row">
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="AS"}}
                        <input name="as" type="text" {{bindAttr value="controller.advancedSearchOptions.as"}} {{bindAttr disabled="view.disabled"}}>
                    {{/view}}
                </div>
                <div class="large-4 columns">
                    {{#view App.ToggleEnableView label="Flag"}}
                        <select name="flag"
                            {{bindAttr disabled="view.disabled"}}
                            {{bindAttr value="controller.advancedSearchOptions.flag"}} >
                            {{#each App.static.iconsArray}}
                                <option>
                                    {{unbound this.key }}
                                </option>
                            {{/each}}
                        </select>
                    {{/view}}
                </div>
                <div class="large-4 columns text-right">
                    <button {{action search}}>Search</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
