<colgroup>
    <col width="25%" />
    <col width="33%" />
    <col width="10%" />
    <col width="19%" />
    <col width="9%" />
</colgroup>
<thead>
    <tr>
        <th {{ action sort "nickname" }}>Nickname</th>
        <th {{ action sort "advertised_bandwidth" }}>Advertised Bandwidth</th>
        <th {{ action sort "last_restarted" }}>Uptime</th>
        <th {{ action sort "flags" }}>Flags</th>
        <th {{ action sort "running" }}>Running</th>
    </tr>
</thead>
<tbody>
    {{#each}}
    <tr {{ action showBridgeDetail hashed_fingerprint }}>
        <td class="bold">{{ nickname }}</td>
        <td>{{ bandwidth advertised_bandwidth }}</td>
        <td>{{ uptimeShort last_restarted }}</td>
        <td>{{#each flags}}
                {{ unbound flaggifyShort this }}
            {{/each}}
        </td>
        <td class="centered">{{ truefalse running }}</td>
    </tr>

    {{else}}
    <tr>
        <td colspan="7">
            {{#view App.LoadingIndicatorView message="Loading bridges..."}}No bridge found :({{/view}}
        </td>
    </tr>
    {{/each}}
</tbody>