
<div class="small-12 columns" {{ action showRelayDetail fingerprint }}>
    <div class="row">
    <div class="large-2 columns">{{ nickname }}</div>
    <div class="large-2 columns">{{ advertised_bandwidth }}</div>
    <div class="large-2 columns">{{ last_restarted }}</div>
    <div class="large-2 columns">{{ country }}</div>
    <div class="large-2 columns">{{ flags }}</div>
    <div class="large-1 columns">{{ or_addresses }}</div>
    <div class="large-1 columns">{{ dir_address }}</div>
    </div>
</div>